# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Binary Folders
/bin
/tmp
/obj
/build/bin
/build/tmp
/build/obj

.DS_Store

build/DigitRecog.layout
